<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>NotifiicationShareImage</key>
		<string></string>
		<key>NotificationAction</key>
		<string>AppStoreProVersion</string>
		<key>NotificationID</key>
		<string>ProVersionForFree</string>
		<key>NotificationDate</key>
		<date>2014-12-03T09:00:00Z</date>
		<key>NotificationExpirationDate</key>
		<date>2016-12-01T13:10:00Z</date>
		<key>NotificationViewsLimit</key>
		<integer>1</integer>
		<key>NotificationLocalizedBodyKey</key>
		<string>free_pro_version_notification_lite</string>
		<key>NotificationLocalizedAlertBodyKey</key>
		<string>free_pro_version_notification_alert</string>
		<key>NotificationLocalizedShareTextKey</key>
		<string></string>
	</dict>
</array>
</plist>
