# Require legal approval for all new graphics
android/app/src/main/res/drawable*/ @organicmaps/design
android/app/src/main/res/fonts/ @organicmaps/design
android/app/src/main/res/mipmap*/ @organicmaps/design
data/*.ttf @organicmaps/design
data/resources*/ @organicmaps/design
data/search-icons/ @organicmaps/design
data/styles/clear/style-*/ @organicmaps/design
iphone/Maps/Images.xcassets/ @organicmaps/design
android/ @organicmaps/android
iphone/ @organicmaps/ios
xcode/ @organicmaps/ios
.github/workflows @organicmaps/releng
android/*gradle* @organicmaps/releng
xcode/fastlane/ @organicmaps/releng
data/classificator.txt @organicmaps/styles
data/drules* @organicmaps/styles
data/mapcss-mapping.csv @organicmaps/styles
data/styles/ @organicmaps/styles
data/types.txt @organicmaps/styles
data/visibility.txt @organicmaps/styles
