---
Checks: >
    bugprone-*,
    -bugprone-narrowing-conversions,
    -bugprone-easily-swappable-parameters,
    -bugprone-branch-clone,
    -bugprone-misplaced-widening-cast,
    -bugprone-exception-escape,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-integer-division,
    -bugprone-reserved-identifier,
    -bugprone-unhandled-self-assignment,
    -bugprone-forward-declaration-namespace,
    -bugprone-sizeof-expression,
    -bugprone-throw-keyword-missing,
    -bugprone-macro-parentheses,
    -bugprone-forwarding-reference-overload,
    -bugprone-move-forwarding-reference,
    -bugprone-incorrect-roundings,
    -bugprone-unchecked-optional-access,
    -bugprone-assignment-in-if-condition,
    -bugprone-signed-char-misuse,
    -bugprone-suspicious-include,
    -bugprone-sizeof-container,
    -bugprone-bool-pointer-implicit-conversion,
    -bugprone-lambda-function-name,
    -bugprone-use-after-move,
    -bugprone-suspicious-enum-usage,
    -clang-analyzer-*,
    -clang-diagnostic-deprecated-declarations,
    -clang-diagnostic-constant-conversion,
    -clang-diagnostic-unqualified-std-cast-call,
    google-*,
    -google-build-explicit-make-pair,
    -google-build-using-namespace,
    -google-explicit-constructor,
    -google-default-arguments,
    -google-readability-braces-around-statements,
    -google-readability-casting,
    -google-readability-namespace-comments,
    -google-readability-function,
    -google-readability-todo,
    -google-runtime-int,
    -google-build-namespaces,
    -google-runtime-references,
    -google-readability-function-size,
    -google-global-names-in-headers,
    llvm-*,
    -llvm-namespace-comment,
    -llvm-qualified-auto,
    -llvm-include-order,
    -llvm-else-after-return,
    -llvm-header-guard,
    -llvm-twine-local,
    misc-*,
    -misc-argument-comment,
    -misc-const-correctness,
    -misc-non-private-member-variables-in-classes,
    -misc-unconventional-assign-operator,
    -misc-no-recursion,
    -misc-misplaced-const,
    -misc-definitions-in-headers,
    -misc-unused-parameters,
    -misc-unused-using-decls,
    -misc-static-assert,
    -misc-confusable-identifiers,
    -misc-redundant-expression,
    performance-*,
    -performance-noexcept-move-constructor,
    -performance-no-int-to-ptr,
    -performance-unnecessary-value-param,
    -performance-unnecessary-copy-initialization,
    -performance-move-const-arg,
    -performance-inefficient-string-concatenation,
    -performance-no-automatic-move,
    -performance-type-promotion-in-math-fn,
    -performance-for-range-copy,
    readability-*,
    -readability-avoid-const-params-in-decls,
    -readability-braces-around-statements,
    -readability-container-size-empty,
    -readability-convert-member-functions-to-static,
    -readability-container-data-pointer,
    -readability-const-return-type,
    -readability-function-cognitive-complexity,
    -readability-function-size,
    -readability-identifier-naming,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-else-after-return,
    -readability-inconsistent-declaration-parameter-name,
    -readability-isolate-declaration,
    -readability-identifier-length,
    -readability-redundant-declaration,
    -readability-uppercase-literal-suffix,
    -readability-named-parameter,
    -readability-qualified-auto,
    -readability-suspicious-call-argument,
    -readability-redundant-access-specifiers,
    -readability-redundant-member-init,
    -readability-static-definition-in-anonymous-namespace,
    -readability-use-anyofallof,
    -readability-simplify-boolean-expr,
    -readability-make-member-function-const,
    -readability-redundant-string-init,
    -readability-non-const-parameter,
    -readability-static-accessed-through-instance,
    -readability-misleading-indentation,
    -readability-redundant-string-cstr,
    -readability-redundant-smartptr-get,
    -readability-duplicate-include
    
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'