---
Checks: >
    bugprone-*,
    -bugprone-narrowing-conversions,
    -bugprone-easily-swappable-parameters,
    -bugprone-branch-clone,
    -bugprone-misplaced-widening-cast,
    -bugprone-exception-escape,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-integer-division,
    -bugprone-reserved-identifier,
    -bugprone-unhandled-self-assignment,
    -bugprone-forward-declaration-namespace,
    -bugprone-sizeof-expression,
    -bugprone-throw-keyword-missing,
    -clang-analyzer-*,
    -clang-diagnostic-deprecated-declarations,
    -clang-diagnostic-constant-conversion,
    cppcoreguidelines-avoid-goto,
    cppcoreguidelines-no-malloc,
    cppcoreguidelines-virtual-class-destructor,
    google-*,
    -google-build-explicit-make-pair,
    -google-build-using-namespace,
    -google-explicit-constructor,
    -google-default-arguments,
    -google-readability-braces-around-statements,
    -google-readability-casting,
    -google-readability-namespace-comments,
    -google-readability-function,
    -google-readability-todo,
    -google-runtime-int,
    -google-build-namespaces,
    -google-runtime-references,
    -google-readability-function-size,
    llvm-*,
    -llvm-namespace-comment,
    -llvm-qualified-auto,
    -llvm-include-order,
    -llvm-else-after-return,
    -llvm-header-guard,
    -llvm-twine-local,
    misc-*,
    -misc-argument-comment,
    -misc-const-correctness,
    -misc-non-private-member-variables-in-classes,
    -misc-unconventional-assign-operator,
    -misc-no-recursion,
    -misc-misplaced-const,
    -misc-definitions-in-headers,
    -misc-unused-parameters,
    performance-*,
    -performance-noexcept-move-constructor,
    -performance-no-int-to-ptr,
    readability-*,
    -readability-avoid-const-params-in-decls,
    -readability-braces-around-statements,
    -readability-container-size-empty,
    -readability-convert-member-functions-to-static,
    -readability-const-return-type,
    -readability-function-cognitive-complexity,
    -readability-function-size,
    -readability-identifier-naming,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-else-after-return,
    -readability-inconsistent-declaration-parameter-name,
    -readability-isolate-declaration,
    -readability-identifier-length,
    -readability-redundant-declaration,
    -readability-uppercase-literal-suffix,
    -readability-named-parameter,
    -readability-qualified-auto,
    -readability-suspicious-call-argument,
    -readability-redundant-access-specifiers,
    -readability-redundant-member-init,
    -readability-static-definition-in-anonymous-namespace,
    -readability-use-anyofallof,
    -readability-simplify-boolean-expr,
    -readability-make-member-function-const,
    -readability-redundant-string-init,
    -readability-non-const-parameter,
    -readability-static-accessed-through-instance
    
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'