syntax: glob
*~
.DS_Store
Makefile
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
*.vcproj
*.icproj
*.sln
*.idb
*.pro.user*
*.ncb
*.suo
*.aps
*.rc
!qt/res/windows.rc
*.pdb
out/*
.obj/*
*.mmp
*.cache
*.inf
*.loc
*.rss
*.pkg
*.mk
*.d
*.BAT

# XCode
iphone/*/*.xcodeproj/*.mode1v3
iphone/*/*.xcodeproj/*.pbxuser
iphone/*/*.xcodeproj/*.perspectivev3
iphone/*/*.xcodeproj/project.xcworkspace/*
iphone/*/*.xcodeproj/xcuserdata/*
iphone/*/build/*
tools/emacsmode/build

# GeneratedFiles
version/version.hpp
tools/win/MapsWithMe*
GeneratedFiles

# bada
bada/.metadata
bada/repository
bada/Maps/.settings
bada/Maps/.Simulator-Debug
bada/Maps/.Simulator-Release
bada/Maps/Res
bada/Maps/Home
bada/Maps/*.zip

# data
data/intermediate_data
data/*.mwm
!data/World.mwm
data/*.mwm.downloading
data/*.map
data/*.osm
data/*.bz2
data/settings.ini
!data/minsk-pass.mwm
!data/dictionary.slf
data/index.idx
data/index.stamp

syntax: regexp
(.*/)?\#[^/]*\#$
