syntax: glob
*~
.DS_Store
Makefile
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
*.vcproj
*.icproj
*.sln
*.idb
*.user
*.ncb
*.suo
*.aps
*.rc
!qt/res/windows.rc
*.pdb
out/*
.obj/*
iphone/Maps/build/*
iphone/Tests/build/*
*.mmp
*.cache
*.inf
*.loc
*.rss
*.pkg
*.mk
*.d
*.BAT
tools/emacsmode/build
iphone/Maps/Maps.xcodeproj/*.mode1v3
iphone/Maps/Maps.xcodeproj/*.pbxuser
iphone/Maps/Maps.xcodeproj/*.perspectivev3
iphone/Tests/Tests.xcodeproj/*.mode1v3
iphone/Tests/Tests.xcodeproj/*.pbxuser
iphone/Tests/Tests.xcodeproj/*.perspectivev3
data/*.mwm
data/*.mwm.downloading
data/*.map
data/*.osm
data/*.bz2
!data/minsk-pass.mwm
bada/.metadata
bada/repository
bada/Maps/.settings
bada/Maps/.Simulator-Debug
bada/Maps/.Simulator-Release
bada/Maps/Res
bada/Maps/Home
bada/Maps/*.zip
data/le9q663011
data/settings.ini
GeneratedFiles
version/version.hpp
tools/win/MapsWithMe*
data/borders
data/intermediate_data

syntax: regexp
(.*/)?\#[^/]*\#$
