[submodule "tools/osmctools"]
  path = tools/osmctools
  url = git://github.com/mapsme/osmctools.git
[submodule "tools/kothic"]
  path = tools/kothic
  url = git://github.com/mapsme/kothic.git
[submodule "3party/Alohalytics"]
  path = 3party/Alohalytics
  url = git://github.com/mapsme/Alohalytics.git
[submodule "tools/macdeployqtfix"]
  path = tools/macdeployqtfix
  url = git://github.com/aurelien-rainone/macdeployqtfix.git
[submodule "3party/protobuf/protobuf"]
  path = 3party/protobuf/protobuf
  url = git://github.com/mapsme/protobuf.git
[submodule "tools/twine"]
  path = tools/twine
  url = https://github.com/mapsme/twine.git
[submodule "3party/Vulkan-Headers"]
  path = 3party/Vulkan-Headers
  url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "3party/boost"]
  path = 3party/boost
  url = https://github.com/boostorg/boost.git
  branch = boost-1.68.0
  ignore = dirty
[submodule "3party/just_gtfs"]
  path = 3party/just_gtfs
  url = https://github.com/mapsme/just_gtfs.git
  branch = for-usage-as-submodule
[submodule "3party/expat"]
  path = 3party/expat
  url = git://github.com/libexpat/libexpat.git
  branch = R_2_2_9
