github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "AppsFlyerSDK/AppsFlyerFramework"
github "facebook/Facebook-SDK-Swift"
github "Pushwoosh/pushwoosh-ios-sdk"
github "skywinder/ActionSheetPicker-3.0"
