<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

  <!-- Requiring "android.hardware.touchscreen" here breaks DeX mode -->
  <uses-feature
      android:glEsVersion="0x00030000"
      android:required="true" />
  <uses-feature
      android:name="android.hardware.wifi"
      android:required="false" />
  <uses-feature
      android:name="android.hardware.location"
      android:required="false" />
  <uses-feature
      android:name="android.hardware.location.network"
      android:required="false" />
  <uses-feature
      android:name="android.hardware.location.gps"
      android:required="false" />

  <uses-permission
      android:name="android.permission.READ_EXTERNAL_STORAGE"
      android:maxSdkVersion="22" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!-- TODO: With the current SDK (36) it is not possible to set a custom
             attribution tag and system spams log errors that attribution
             for empty tag is not found -->
  <attribution
      android:tag="@string/attribution_empty_tag"
      android:label="@string/attribution_empty_tag_desc"
      android:minSdkVersion="30" />

  <attribution
      android:tag="media_playback"
      android:label="@string/attribution_playback"
      android:minSdkVersion="30" />
</manifest>
