<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:remove="sharedUserId, sharedUserLabel">
  <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- Debug manifest doesn't contain sharedUser values to avoid installation conflicts with production versions -->
</manifest>
