bin
gen
/libs/
.settings
resbuilder
spoon-output
obj
local
.gradle
build
3rd_party/api-android/
RELEASE
.idea
.externalNativeBuild
nativeOutputs

# For now, ignore Android Studio projects
*.iml

*.class
.classpath
.cproject
.project
local.properties
lint.xml
.gradletasknamecache

# ignore flags symlinks
res/drawable-xhdpi/??.png
res/drawable-xhdpi/do_hack.png
res/drawable-xhdpi/uk_england.png
res/drawable-xhdpi/uk_northern_ireland.png
res/drawable-xhdpi/uk_scotland.png
res/drawable-xhdpi/uk_wales.png
res/drawable-mdpi/??.png
res/drawable-mdpi/do_hack.png
res/drawable-mdpi/uk_england.png
res/drawable-mdpi/uk_northern_ireland.png
res/drawable-mdpi/uk_scotland.png
res/drawable-mdpi/uk_wales.png

res/xml/network_security_config.xml
