<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="androidx.car.app.ACCESS_SURFACE" />
  <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES" />

  <application
      android:name=".MwmApplication"
      android:icon="@mipmap/ic_launcher"
      tools:node="merge">

    <meta-data
        android:name="androidx.car.app.minCarApiLevel"
        android:value="1" />

    <meta-data
        android:name="com.google.android.gms.car.application"
        android:resource="@xml/automotive_app_desc" />

    <service
        android:name=".car.OMCarService"
        android:exported="true">
      <intent-filter>
        <action android:name="androidx.car.app.CarAppService" />
        <category android:name="androidx.car.app.category.NAVIGATION" />
      </intent-filter>
    </service>
  </application>
</manifest>
