BasedOnStyle: Google
ColumnLimit: 120 # Fits GitHub pull-request review width.
BinPackParameters: false  # Allow either all method's parameters on one line or one parameter per line, no packing.

Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Middle
