<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

  <application>

    <meta-data
        android:name="LOCALYTICS_APP_KEY"
        android:value="d0cada95008a426b1c0c1b1-70af74b2-376e-11e4-4b53-00a426b17dd8"
        tools:replace="android:value"/>

    <activity android:name="com.mapswithme.maps.DownloadResourcesActivity">

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
            android:host="*"
            android:mimeType="application/vnd.google-earth.kmz"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
            android:host="*"
            android:mimeType="application/vnd.google-earth.kml+xml"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
            android:host="*"
            android:mimeType="*/*"
            android:pathPattern=".*\\.kmz"
            android:scheme="file"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
            android:host="*"
            android:mimeType="*/*"
            android:pathPattern=".*\\.kml"
            android:scheme="file"/>
      </intent-filter>
    </activity>
  </application>
</manifest>