Source: mapswithme
Section: utils
Priority: extra
Maintainer: Darafei A. Praliaskouski <komzpa@mapswith.me>
Build-Depends: debhelper (>= 8), qt4-qmake, mesa-common-dev, libqt4-dev, libqt4-opengl-dev, git
Standards-Version: 3.9.3
Homepage: http://mapswith.me/


Package: mapswithme
Architecture: any
Depends: dbus, ${shlibs:Depends}, ${misc:Depends}
Description: Detailed Offline Maps of the Entire World
 The quickest offline maps of the entire world. Search and navigate maps fully offline. Maps work everywhere!
 Features:
 - ALL COUNTRIES, ALL CITIES. If you get the MapsWithMe Pro, the entire world is in your pocket. Even maps of the smallest islands!
 - REALLY FAST. No grey squares anymore! Innovative map data compression method allows you to download maps in seconds, navigate through them smoothly.
 - OFFLINE SEARCH. Find everything you need of all the objects available on the map in a second! The auto-suggestion feature makes searching maps faster and easier.