#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 
override_dh_auto_configure:
ifndef MWM_BUILD_TYPE
	qmake -r CONFIG+=production omim.pro
else
	qmake -r CONFIG+=$(MWM_BUILD_TYPE) omim.pro
endif

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	out/production/base_tests
	out/production/coding_tests
	out/production/generator_tests
	out/production/geometry_tests
	out/production/indexer_tests
	out/production/map_tests
	out/production/mwm_tests
	out/production/platform_tests
	out/production/search_tests
	out/production/storage_tests
endif

.PHONY: override_dh_auto_configure

