<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleName</key>
    <string>@EXECUTABLE@</string>

    <key>CFBundleDisplayName</key>
    <string>@EXECUTABLE@</string>

    <key>CFBundleVersion</key>
    <string>@VERSION@</string>

    <key>CFBundleIconFile</key>
    <string>@ICON@</string>
    
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    
    <key>CFBundleSignature</key>
    <string>MWME</string>
    
    <key>CFBundleExecutable</key>
    <string>@EXECUTABLE@</string>
    
    <key>CFBundleIdentifier</key>
    <string>com.mapswithme.mactestapp</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <key>NSHighResolutionCapable</key>
    <string>True</string>

    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>maps.me</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>mapswithme.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>
