[Desktop Entry]
Type=Application
Version=1.0
Name=Organic Maps
Comment=Detailed Offline Maps of the World
Comment[ru]=Подробная оффлайновая карта мира
Icon=organicmaps
TryExec=OMaps
Exec=OMaps
Categories=Maps;Education;Geography;Geoscience;Qt;
Keywords=Map;Maps;Offline Maps;OMaps;Organic Maps;OrganicMaps;OSM;OpenStreetMap;
