<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <?define MWMVersion = '1.0.0' ?>
  <?define MWMName = 'MapsWithMe' ?>
  <?define MWMCompany = 'MapsWithMe' ?>
  <?define MWMDescription = 'MapsWithMe - offline maps and travel guide' ?>
  <?define MWMBinary = 'MapsWithMe.exe' ?>
  <?define MWMUrl = 'http://www.mapswithme.com/' ?>
  <?define MWMSupportUrl = 'http://support.mapswithme.com/' ?>

  <Condition Message="This application is only supported on Windows XP SP3 and higher versions of Windows">
    <![CDATA[Installed OR (VersionNT >= 501)]]>
  </Condition>

  <Product Id='42180640-750C-4d9e-9087-519705C069D5'
           Name=$(var.MWMName)
           Language='1033'
           Version=$(var.MWMVersion)
           Manufacturer=$(var.MWMCompany)
           UpgradeCode='DFCB23C7-99B3-4228-93E5-625C48370982'>

    <Package Description=$(var.MWMDescription)
             Comments='Supports Windows XP SP3 and above'
             Manufacturer=$(var.MWMCompany)
             InstallerVersion='300'
             Compressed='yes'
             InstallPrivileges='elevated'
             InstallScope='perMachine'
             Platform='x86' />

      <Media Id='1' Cabinet='data.cab' EmbedCab='no' CompressionLevel='high' />

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name=$(var.MWMName)>
          <Component Id="ApplicationShortcut" Guid="692265B1-912C-4ba0-B5C8-E0C984FEC743">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="My Application Name"
                      Description=""
                      Target="[APPLICATIONROOTDIRECTORY]$(var.MWMBinary)"
                      WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
            <util:InternetShortcut Id="WebSiteShortcut"
                                   Name="Visit MapsWithMe Web Site"
                                   Target=$(var.MWMUrl)/>
            <util:InternetShortcut Id="WebSupportShortcut"
                                   Name="Support Forum"
                                   Target=$(var.MWMSupportUrl)/>
            <Shortcut Id="UninstallProduct"
                      Name="Uninstall $(var.MWMName)"
                      Target="[SystemFolder]msiexec.exe"
                      Arguments="/x [ProductCode]"
                      Description="Completely removes $(var.MWMName) from this computer" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKLM" Key="Software\Microsoft\$(var.MWMName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id='TARGETDIR' Name='SourceDir'>
        <Directory Id='ProgramFilesFolder' Name='PFiles'>
          <Directory Id='MapsWithMeDir' Name='MapsWithMe'>
            <Component Id='_MapsWithMe.exe' Guid='67852405-8C7C-4ec4-81E7-698CE3CD9A67'>
              <File Id='_MapsWithMe.exe' Name='MapsWithMe.exe' Source='..\..\..\omim-build-msvc2010\out\release\MapsWithMe.exe' DiskId='1' KeyPath='yes' Checksum='yes' />
            </Component>
             <Component Id='_QtCore4.dll' Guid='51b99190-6a04-4611-bb08-367b9a73744b'>
               <File Id='_QtCore4.dll' Name='QtCore4.dll' Source='..\..\..\SDK\Desktop\Qt\4.7.3\msvc2010\bin\QtCore4.dll' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_QtGui4.dll' Guid='8cd46b88-bb79-4332-870a-e299f3022aea'>
               <File Id='_QtGui4.dll' Name='QtGui4.dll' Source='..\..\..\SDK\Desktop\Qt\4.7.3\msvc2010\bin\QtGui4.dll' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_QtOpenGL4.dll' Guid='1c4c482d-93eb-4f45-8d52-be5ce2778885'>
               <File Id='_QtOpenGL4.dll' Name='QtOpenGL4.dll' Source='..\..\..\SDK\Desktop\Qt\4.7.3\msvc2010\bin\QtOpenGL4.dll' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_QtNetwork4.dll' Guid='0cd8c6a6-5f3d-40bc-a36b-cb37842239d4'>
               <File Id='_QtNetwork4.dll' Name='QtNetwork4.dll' Source='..\..\..\SDK\Desktop\Qt\4.7.3\msvc2010\bin\QtNetwork4.dll' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_QtWebkit4.dll' Guid='8de45066-d0c7-475e-b83e-cba8f9df8a60'>
               <File Id='_QtWebkit4.dll' Name='QtWebkit4.dll' Source='..\..\..\SDK\Desktop\Qt\4.7.3\msvc2010\bin\QtWebkit4.dll' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
            <Directory Id='MWMDataDir' Name='Data'>
             <Component Id='_World.mwm' Guid='c6f61689-eecc-46f2-85d3-92ee8d6ff8a4'>
               <File Id='_World.mwm' Name='World.mwm' Source='..\..\data\World.mwm' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_01_dejavusans.ttf' Guid='9c3a2d71-58a5-4e5a-ae65-0ffd085e7f6f'>
               <File Id='_01_dejavusans.ttf' Name='01_dejavusans.ttf' Source='..\..\data\01_dejavusans.ttf' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_02_droidsans_fallback.ttf' Guid='1370713b-1bdf-484a-984a-5a829ecfd9ee'>
               <File Id='_02_droidsans_fallback.ttf' Name='02_droidsans-fallback.ttf' Source='..\..\data\02_droidsans-fallback.ttf' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_03_jomolhari_id_a3d.ttf' Guid='8c0e64ea-b45e-4a1c-a8b5-8ec0647d6db6'>
               <File Id='_03_jomolhari_id_a3d.ttf' Name='03_jomolhari-id-a3d.ttf' Source='..\..\data\03_jomolhari-id-a3d.ttf' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_04_padauk.ttf' Guid='9895bfbb-480f-4a83-baa6-3826cf496398'>
               <File Id='_04_padauk.ttf' Name='04_padauk.ttf' Source='..\..\data\04_padauk.ttf' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_05_khmeros.ttf' Guid='5ea3e229-6211-4790-9a7b-81f653cfda7d'>
               <File Id='_05_khmeros.ttf' Name='05_khmeros.ttf' Source='..\..\data\05_khmeros.ttf' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_06_code2000.ttf' Guid='8e5bfedc-7de1-4522-a08f-56f7c6af4e40'>
               <File Id='_06_code2000.ttf' Name='06_code2000.ttf' Source='..\..\data\06_code2000.ttf' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_basic.skn' Guid='1ac919ed-c9a8-4254-a9ea-38d7f5e90723'>
               <File Id='_basic.skn' Name='basic.skn' Source='..\..\data\basic.skn' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_symbols_24.png' Guid='87f5da59-4aab-4cdd-8c15-2668de66d9a2'>
               <File Id='_symbols_24.png' Name='symbols_24.png' Source='..\..\data\symbols_24.png' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_classificator.txt' Guid='7f871bff-8d12-4eaf-ae76-3e2b3eb8c312'>
               <File Id='_classificator.txt' Name='classificator.txt' Source='..\..\data\classificator.txt' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_drawing_rules.bin' Guid='bfc9e374-fdad-4864-a66b-3e252f94f3bb'>
               <File Id='_drawing_rules.bin' Name='drawing_rules.bin' Source='..\..\data\drawing_rules.bin' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_fonts_blacklist.txt' Guid='6c73e171-95eb-4030-a4f0-bf8bade679f7'>
               <File Id='_fonts_blacklist.txt' Name='fonts_blacklist.txt' Source='..\..\data\fonts_blacklist.txt' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_fonts_whitelist.txt' Guid='7bc33762-35a7-4112-b2c5-be0a22f252cd'>
               <File Id='_fonts_whitelist.txt' Name='fonts_whitelist.txt' Source='..\..\data\fonts_whitelist.txt' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_unicode_blocks.txt' Guid='ed9ff385-4c53-4cd7-a7b9-39df265b2494'>
               <File Id='_unicode_blocks.txt' Name='unicode_blocks.txt' Source='..\..\data\unicode_blocks.txt' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_languages.txt' Guid='3aa8b05a-e8de-460d-b045-5076e29b5e39'>
               <File Id='_languages.txt' Name='languages.txt' Source='..\..\data\languages.txt' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_maps.update' Guid='e515075d-22ba-4ce4-a9e5-0123e49e9c2e'>
               <File Id='_maps.update' Name='maps.update' Source='..\..\data\maps.update' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_countries.txt' Guid='820dfe36-cc14-4dce-9e5e-f640948c13ed'>
               <File Id='_countries.txt' Name='countries.txt' Source='..\..\data\countries.txt' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_welcome.html' Guid='4a382811-08bb-4795-8e7d-d547d42523a3'>
               <File Id='_welcome.html' Name='welcome.html' Source='..\..\data\welcome.html' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_about_travelguide_desktop.html' Guid='16511f92-e4ec-4284-903a-3e9977fa9090'>
               <File Id='_about_travelguide_desktop.html' Name='about-travelguide-desktop.html' Source='..\..\data\about-travelguide-desktop.html' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_eula.html' Guid='42bfca6e-5396-473a-8dd0-5ffe8f08334c'>
               <File Id='_eula.html' Name='eula.html' Source='..\..\data\eula.html' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
             <Component Id='_dictionary.slf' Guid='140584d8-f21e-41c5-b650-854a62288071'>
               <File Id='_dictionary.slf' Name='dictionary.slf' Source='..\..\data\dictionary.slf' DiskId='1' KeyPath='yes' Checksum='no' />
             </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Feature Id='MapsWithMeFeature' Title='MapsWithMe' Level='1'>
         <ComponentRef Id='_MapsWithMe.exe' />
         <ComponentRef Id='_QtCore4.dll' />
         <ComponentRef Id='_QtGui4.dll' />
         <ComponentRef Id='_QtOpenGL4.dll' />
         <ComponentRef Id='_QtNetwork4.dll' />
         <ComponentRef Id='_QtWebkit4.dll' />

         <ComponentRef Id='_World.mwm' />

         <ComponentRef Id='_01_dejavusans.ttf' />
         <ComponentRef Id='_02_droidsans_fallback.ttf' />
         <ComponentRef Id='_03_jomolhari_id_a3d.ttf' />
         <ComponentRef Id='_04_padauk.ttf' />
         <ComponentRef Id='_05_khmeros.ttf' />
         <ComponentRef Id='_06_code2000.ttf' />
         <ComponentRef Id='_basic.skn' />
         <ComponentRef Id='_symbols_24.png' />
         <ComponentRef Id='_classificator.txt' />
         <ComponentRef Id='_drawing_rules.bin' />
         <ComponentRef Id='_fonts_blacklist.txt' />
         <ComponentRef Id='_fonts_whitelist.txt' />
         <ComponentRef Id='_unicode_blocks.txt' />
         <ComponentRef Id='_languages.txt' />
         <ComponentRef Id='_maps.update' />
         <ComponentRef Id='_countries.txt' />
         <ComponentRef Id='_welcome.html' />
         <ComponentRef Id='_about_travelguide_desktop.html' />
         <ComponentRef Id='_eula.html' />
         <ComponentRef Id='_dictionary.slf' />

         <ComponentRef Id='ApplicationShortcut' />
      </Feature>

      <DirectoryRef Id='TARGETDIR'>
        <Merge Id='VCRedist' SourceFile='\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC100_CRT_x86.msm' DiskId='1' Language='0'/>
      </DirectoryRef>
      <Feature Id='VCRedist' Title='Visual C++ 10.0 Runtime' AllowAdvertise='no' Display='hidden' Level='1'>
        <MergeRef Id='VCRedist'/>
      </Feature>

   </Product>
</Wix>


