<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='42180640-750C-4d9e-9087-519705C069D5'
           Name='MapsWithMe'
           Language='1033'
           Version='1.0.0'
           Manufacturer='MapsWithMe'
           UpgradeCode='DFCB23C7-99B3-4228-93E5-625C48370982'>
    
    <Package Description='MapsWithMe - offline maps and travel guide'
             Comments='Supports Windows XP SP3 and above'
             Manufacturer='MapsWithMe'
             InstallerVersion='300'
             Compressed='yes'
             InstallPrivileges='limited'
             InstallScope='perUser'
             Platform='x86' />
 
      <Media Id='1' Cabinet='data.cab' EmbedCab='yes' />
 
      <Directory Id='TARGETDIR' Name='SourceDir'>
         <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='MapsWithMeDir' Name='MapsWithMe'>
               <Component Id='MapsWithMe.exe' Guid='67852405-8C7C-4ec4-81E7-698CE3CD9A67'>
                  <File Id='MapsWithMe.exe' Name='MapsWithMe.exe' Source='..\..\..\omim-build-msvc2010\out\release\MapsWithMe.exe' DiskId='1' KeyPath='yes' Checksum='yes' />
               </Component>
            </Directory>
         </Directory>
      </Directory>
 
      <Feature Id='MapsWithMeFeature' Title='MapsWithMe' Level='1'>
         <ComponentRef Id='MapsWithMe.exe' />
      </Feature>
      
      <DirectoryRef Id="TARGETDIR">
        <Merge Id="VCRedist" SourceFile="\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC100_CRT_x86.msm" DiskId="1" Language="0"/>
      </DirectoryRef>
      <Feature Id="VCRedist" Title="Visual C++ 10.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist"/>
      </Feature>
      
   </Product>
</Wix>
