<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AarkiClientSecurityKey</key>
	<string>lN96dHHOKoi6mGD5NtsFx8NmuQqM</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.mapswithme.maps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mapswithme</string>
				<string>ge0</string>
				<string>geo</string>
				<string>fb272257082798521</string>
				<string>mapswithmelite</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mapswithme.travelguide</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mapswithme.travelguide</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mapswithme.travelguide.beta</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mapswithme.travelguide.beta</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>FacebookAppID</key>
	<string>272257082798521</string>
	<key>FacebookDisplayName</key>
	<string>MapsWithMe Lite, offline maps</string>
	<key>FlurryKey</key>
	<string>***REMOVED***</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MobileAppTrackerAdvertiserId</key>
	<string>14130</string>
	<key>MobileAppTrackerConversionKey</key>
	<string>***REMOVED***</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
