<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>320-pro.png</string>
				<string>64-pro.png</string>
				<string>44x58-pro.png</string>
				<string>22x29-pro.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Google Earth KML Document</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.google.earth.kml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>320-pro.png</string>
				<string>64-pro.png</string>
				<string>44x58-pro.png</string>
				<string>22x29-pro.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Google Earth KMZ Document</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.google.earth.kmz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.mapswithme.maps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mapswithme</string>
				<string>mapsme</string>
				<string>ge0</string>
				<string>geo</string>
				<string>fb185237551520383</string>
				<string>mapswithmepro</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1033279251462-k2pp753lp1f39dacjn0pkurcc8pbbvsi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>2773ac2121a74ed96c8cfd4009ed7ea1eb0d2313</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>185237551520383</string>
	<key>FacebookDisplayName</key>
	<string>MapsWithMe, offline maps</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>uber</string>
		<string>yandextaxi</string>
		<string>tel</string>
		<string>booking</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>maps.me</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>mapswithme.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Unused by an application</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Unused by an application</string>
	<key>PW_USE_GPS</key>
	<false/>
	<key>Pushwoosh_APPID</key>
	<string>84E00-0F767</string>
	<key>Pushwoosh_LOG_LEVEL</key>
	<string>WARNING</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_3dtouch_search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>me.maps.3daction.search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_3dtouch_bookmarks</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>bookmarks</string>
			<key>UIApplicationShortcutItemType</key>
			<string>me.maps.3daction.bookmarks</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_3dtouch_planing_route</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>route</string>
			<key>UIApplicationShortcutItemType</key>
			<string>me.maps.3daction.route</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Google Earth KML Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.google.earth.kml</string>
			<key>UTTypeReferenceURL</key>
			<string>http://earth.google.com/kml/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>GKml</string>
				<key>public.filename-extension</key>
				<array>
					<string>kml</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.google-earth.kml+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Google Earth KMZ Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.google.earth.kmz</string>
			<key>UTTypeReferenceURL</key>
			<string>http://earth.google.com/kmz/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>GKmz</string>
				<key>public.filename-extension</key>
				<array>
					<string>kmz</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.google-earth.kmz+xml</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
