<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapswithme.yopme">

    <uses-permission
        android:name="com.yotadevices.framework.permission.ACCESS_BACKSCREEN" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="@string/com.yotadevices.BS_TITLE"
            android:resource="@string/app_name" />
        <meta-data
            android:name="@string/com.yotadevices.BS_ICON"
            android:resource="@drawable/inc_icon" />

        <service
            android:name="com.mapswithme.yopme.BackscreenActivity" >
            <intent-filter>
                <action
                    android:name="com.mapswithme.yopme.location" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="com.mapswithme.yopme.show_rect" />
            </intent-filter>
        </service>

        <uses-library
            android:name="com.yotadevices.platinum"
            android:required="true" />

        <activity
            android:name="com.mapswithme.yopme.ReferenceActivity"
            android:label="@string/title_activity_reference"
            android:parentActivityName="com.mapswithme.yopme.YopmePreference"
            android:screenOrientation="sensorPortrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapswithme.yopme.YopmePreference" />
        </activity>
        <activity
            android:name="com.mapswithme.yopme.YopmePreference"
            android:label="@string/menu_settings"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action
                    android:name="com.mapswithme.yopme.preference" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>