<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapswithme.yopme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission
        android:name="com.yotadevices.framework.permission.ACCESS_BACKSCREEN" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="@string/com.yotadevices.BS_TITLE"
            android:value="@string/app_name" />
        <meta-data
            android:name="@string/com.yotadevices.BS_ICON"
            android:resource="@drawable/inc_icon" />

        <activity
            android:name="com.mapswithme.yopme.YopmeFrontActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.mapswithme.yopme.BackscreenActivity" />

        <uses-library
            android:name="com.yotadevices.platinum" />

        <activity
            android:name="com.mapswithme.yopme.ReferenceActivity"
            android:label="@string/title_activity_reference"
            android:parentActivityName="com.mapswithme.yopme.YopmeFrontActivity"
            android:screenOrientation="sensorPortrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapswithme.yopme.YopmeFrontActivity" />
        </activity>
    </application>

</manifest>