#include "common.xcconfig"

COPY_PHASE_STRIP = NO
ENABLE_NS_ASSERTIONS = YES
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG _DEBUG HAVE_PTHREAD
GCC_UNROLL_LOOPS = NO
MTL_ENABLE_DEBUG_INFO = YES
OTHER_SWIFT_FLAGS = -Xfrontend -warn-long-function-bodies=400 -Xfrontend -warn-long-expression-type-checking=150 -DDEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
