// Paths
OMIM_ROOT = $(PROJECT_DIR)/../..
QT_PATH[arch=x86_64] = /usr/local/opt/qt@5
QT_PATH[arch=arm64] = /opt/homebrew/opt/qt@5
BOOST_ROOT = $(OMIM_ROOT)/3party/boost

// jansson is included in many libs, and is also used in headers (leaks to other libs)
HEADER_SEARCH_PATHS = $(inherited) $(OMIM_ROOT) $(BOOST_ROOT) $(OMIM_ROOT)/3party/jansson $(OMIM_ROOT)/3party/jansson/jansson/src
FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(QT_PATH)/lib

// Deployment target
IPHONEOS_DEPLOYMENT_TARGET = 12.0
MACOSX_DEPLOYMENT_TARGET = 10.12

// Supported platforms
SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos

// Linked frameworks
OTHER_LDFLAGS[sdk=macosx*] = -framework Cocoa -framework IOKit -framework OpenGL -framework QtCore -framework QtGui -framework QtNetwork -framework QtOpenGL -framework QtWidgets -framework SystemConfiguration -framework CFNetwork
OTHER_LDFLAGS[sdk=iphone*] = -framework CoreGraphics -framework Foundation -framework IOKit -framework OpenGLES -framework SystemConfiguration -framework UIKit -framework CFNetwork -ObjC

// Warnings settings
CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_ATOMIC_IMPLICIT_SEQ_CST = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_COMPLETION_HANDLER_MISUSE = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = NO
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES

// Build options
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ADDRESS_SANITIZER_CONTAINER_OVERFLOW = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = YES
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
COMPILER_INDEX_STORE_ENABLE = YES
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_C_LANGUAGE_STANDARD = c11
GCC_DYNAMIC_NO_PIC = NO
GCC_FAST_MATH = YES
// -fvisibility-inlines-hidden
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
// Preprocessor definitions shared in all configurations and projects.
// Silence "Migrate from OpenGL to Metal" warnings.
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COREVIDEO_SILENCE_GL_DEPRECATION GLES_SILENCE_DEPRECATION
GCC_SYMBOLS_PRIVATE_EXTERN = YES
MTL_FAST_MATH = YES
ONLY_ACTIVE_ARCH = YES
PRODUCT_NAME = $(TARGET_NAME)
SKIP_INSTALL = YES
SWIFT_VERSION = 5.5
TARGETED_DEVICE_FAMILY = 1,2
VALID_ARCHS = arm64
VALID_ARCHS[sdk=iphonesimulator*] = x86_64 arm64
VALID_ARCHS[sdk=macosx*] = x86_64 arm64

// Static analyzer options.
CLANG_ANALYZER_GCD_PERFORMANCE = YES
CLANG_TIDY_BUGPRONE_REDUNDANT_BRANCH_CONDITION = YES
CLANG_TIDY_MISC_REDUNDANT_EXPRESSION = YES
