#include "common.xcconfig"

COPY_PHASE_STRIP = YES
ENABLE_NS_ASSERTIONS = NO
ENABLE_TESTABILITY = NO
GCC_OPTIMIZATION_LEVEL = 3
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) RELEASE NDEBUG
GCC_UNROLL_LOOPS = YES
MTL_ENABLE_DEBUG_INFO = NO
NS_BLOCK_ASSERTIONS = NO
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
