#include "common.xcconfig"

COPY_PHASE_STRIP = NO
ENABLE_NS_ASSERTIONS = YES
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG
GCC_UNROLL_LOOPS = NO
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
OTHER_SWIFT_FLAGS = -DDEBUG
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
