#include "common.xcconfig"

COPY_PHASE_STRIP = YES
ENABLE_NS_ASSERTIONS = NO
ENABLE_TESTABILITY = NO
GCC_OPTIMIZATION_LEVEL = 3
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) RELEASE _RELEASE NDEBUG OMIM_PRODUCTION HAVE_PTHREAD
GCC_UNROLL_LOOPS = YES
MTL_ENABLE_DEBUG_INFO = NO
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
