OMIM_ROOT=$(PROJECT_DIR)/../..
BUILD_DIR=$(OMIM_ROOT)/../omim-xcode-build
QT_PATH=/usr/local/opt/qt5

BOOST_ROOT=$(OMIM_ROOT)/3party/boost

HEADER_SEARCH_PATHS=$(OMIM_ROOT) $(BOOST_ROOT)

IPHONEOS_DEPLOYMENT_TARGET=7.0
MACOSX_DEPLOYMENT_TARGET=10.10

GCC_PREPROCESSOR_DEFINITIONS[config=Release] = RELEASE=1 $(inherited)
