<?xml version="1.0" encoding="utf-8"?>
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mapswithme.maps.pro.tests"
          android:versionCode="1"
          android:versionName="1.0">
    <!-- We add an application tag here just so that we can indicate that
         this package needs to link against the android.test library,
         which is needed when building test cases. -->
    <application>
        <uses-library android:name="android.test.runner" />
    </application>
    <!--
    This declares that this application uses the instrumentation test runner targeting
    the package of com.mapswithme.maps.pro.  To run the tests use the command:
    "adb shell am instrument -w com.mapswithme.maps.pro.tests/android.test.InstrumentationTestRunner"
    -->
    <instrumentation android:name="com.mapswithme.maps.tests.SpoonInstrumentationTestRunner"
                     android:targetPackage="com.mapswithme.maps.pro"
                     android:label="Tests for com.mapswithme.maps.pro"/>
</manifest>
