name: Android Check Metadata
on:
  workflow_dispatch: # Manual trigger
  pull_request:
    paths:
      - android/src/fdroid/**
      - android/src/google/**

jobs:
  android-check-metadata:
    name: Check app metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check metadata
        run: ./tools/python/check_store_metadata.py android
